.user-form {
  width: 30%;
}
.nav-bar {
  height: 40px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: rtl;
}
.sections {
  margin-top: 16px;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
